
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	height:50vh;
	justify-content:center;
	/* border:1px solid red; */
	/* align-items:center; */
}
.item{
	/* background-color:black; */
	
}